
@{
    ViewBag.Title = "Not Found";
}

<div class="container">

    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">The page is not found on the system.</h2>

    <p>Please push the back button and try your request again. If you continue to see this message, contact support.</p>

</div>
