@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Moving to Azure</h1>
        <p>This sample accompanies the talk <a href="https://robrich.org/slides/moving-to-azure/">Moving to Azure</a>.</p>
        <p>In this sample we learn to make an app ready for the cloud and host it in Azure.</p>
    </div>
</div>
